header{
    background-color: grey;
    height: 100px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    display: flex;
  justify-content: space-evenly;
}
body{
    background-color:lightblue;
}
.salmon-pic{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    
}
.container{
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
}
.sub{
    background-color: orange;
    padding: 10px;
    margin: 5px;
    height: 300px;
    width: 375px;
    text-align: center;
} .sub2{
    background-color: orange;
    padding: 10px;
    margin: 5px;
    height: 300px;
    width: 375px;
    text-align: center;
} .sub3{
    background-color: orange;
    padding: 10px;
    margin: 5px;
    height: 300px;
    width: 375px;
    text-align: center;
} 
.container2{
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
}
.sub4{
    background-color: orange;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    margin: 5px;
    height: 480px;
    width: 400px;
}
.sub5{
    background-color: orange;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    margin: 5px;
    height: 480px;
    width: 400px;
}
footer{
    background-color: grey;
}
.copy{
    text-align: left;
}
.contact{
    text-align: center;
}